* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #b7d7e8;
}

#contacts,
#about {
  display: none;
}

.header {
  background-color: #87bdd8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul {
  list-style: none;
}

.items {
  display: flex;
  justify-content: end;
  align-items: center;
}

li {
  font-size: larger;
  margin-left: 20px;
  cursor: pointer;
}

li:hover {
  color: white;
  border-bottom: 1px solid white;
}

.info {
  margin: 50px;
  text-align: center;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.home,
.about,
.contacts {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 60px;
}

.headingOne {
  background-color: #cfe0e8;
}

h1 {
  font-size: 45px;
  font-weight: 100;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}
.three {
  font-size: 24px;
  font-weight: 500;
}

.para-one {
  font-size: 24px;
}

.grid {
  display: grid;
  column-gap: 20px;
}

.about-para {
  font-size: 20px;
  font-weight: 100;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
}
.contacts {
  display: none;
}

.form {
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
  text-align: left;
}

.form-inputs {
  display: grid;
  grid-template-columns: auto auto;
  // column-gap: 20px;
  gap: 20px;
}

.name,
.details,
.address {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

input:hover {
  border: 1px solid mediumseagreen;
}

input:focus {
  border: 1px solid mediumseagreen;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
}

textarea:hover {
  border: 1px solid mediumseagreen;
}

textarea:focus {
  border: 1px solid mediumseagreen;
}

.button {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.button:hover {
  background-color: mediumseagreen;
  color: white;
}

.survey {
  margin: 50px;
}

.para {
  font-size: 24px;
  font-weight: 300;
}

.form-survey {
  padding: 15px;
}

.survey-info {
  text-align: left;
}

.survey-info > p {
  font-size: 30px;
  font-weight: 500;
}

.options {
  padding-top: 15px;
  padding-left: 30px;
}

.options > div {
  padding-bottom: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #87bdd8;
  display: flex;
  justify-content: center;
  align-items: center;
}
